a img{
  border: 0;
} /* ie8 specific */

.inner #header{
  min-height: 125px;
  height: inherit;
}
  body{margin:0;padding:0;border-collapse:collapse;font-size:18px;background:#7eadac;}
  #container{font-family:'Helvetica',Arial,sans-serif;font-size:1em;float:left;width: 100%;overflow:hidden;}
  .clear{clear:both;}
  #header{background: #2A5357;}
  h1,h2,h3{margin:0;padding:0;color: #fff;font-weight:normal;font-size:1em;text-shadow:1px 1px 1px #000;}
  h1{font-weight:bold;font-size:1.5em;}
  h2{font-size: 1.3em;color:#ccc;font-weight:light;}
  h3{font-size:1em;margin-top:15px;font-weight:light;}
  a{text-decoration:none;color:#fff;}
  #header-left, #header-right{padding-top:10px;padding-bottom:0px;}
  #header-left{float:left;margin-left:10px;}
  #header-drawer{display: none;}
  #header-right{width:500px;float:right;margin-right:10px;}
  #header #share-buttons{width:auto;padding: 10px 11px 0px;}
  #header #share-buttons #latest-tweet {
    font-size: 11px;
    background: url('../images/twitter.png') no-repeat 5px top;
    display: inline-block;
    position: relative;
    width: 340px;
    vertical-align: top;
}
.fb-like{}
  #header #share-buttons #latest-tweet #tweet-text{
  background: #A3D6E8;
  border: 1px solid #FFF;
  background: #A3D6E8;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-clip: padding-box;
  padding: 4px;
  margin-left:50px;
  }
  #tweet-text a{
  color: #2a5357;
  font-weight: bold;
  }
  #action-buttons{float:right; text-transform: uppercase ;margin-right: 5px;}
  #action-buttons a{font-size:.9em;display:block;padding:5px 10px;float:left;margin:10px 5px;text-decoration:none;color:#ED1C24;text-align:center;
        -webkit-border-radius: 5px;
          border-radius: 5px;
  background-clip: padding-box;
  background: #a3d6e8;
  border: 1px solid #fff;
  font-weight: bold;
}
#twitter{display:inline;}
  .section{m//in-height: 20em;position:relative;}
  #sections{position: relative;}
  #sections img{width:100%;float:left;margin-top:-1px;}
  #sections img#tanker{width:70%;float: none;    position: fixed;
    top: 100px;
    left: 10%;
    display: block;}  
  #sections span[data-alt="tanker"]{
  }
  #map{height:400px;border: 2px solid #000;background: #7dc7cc;}
  .tartrekmap-embed{height:400px;}
  .tartrek-popup-content h3{color:#000;text-shadow: none;}
  .text{display:none;width: 50%;background:#fff;opacity:.8;font-weight:bold;
  -webkit-border-radius: 12px;
          border-radius: 12px;
  background-clip: padding-box;
  padding:10px;
  float:left;}
  #action-bubbles{text-align: center;height:348px; margin-right: 27px;}
  #action-bubbles a{}
  #footer{
  padding:10px 25px;
    -webkit-border-radius: 12px;
          border-radius: 12px;
  background-clip: padding-box;
  border: 1px solid #fff;
  margin: 0px 20px 10px;
  }
  #rss{margin:20px 0;padding:20px 20px 20px 60px;
      -webkit-border-radius: 12px;
          border-radius: 12px;
  background-clip: padding-box;
  border: 1px solid #fff;
  background: url('../images/rss.png') no-repeat 5px center #d9e7e6;
  color: #333;
  font-size:16px;
}
#footer-left{float:left;line-height:2em;color:#fff;font-size:16px;width: 60%;}
#footer-left a{text-decoration: none;}
#footer-left a:hover{text-decoration:underline;}
#footer-left #rd {display:inline-block;padding: 0px 5px;}
#footer-right{float:right;}
#footer #share-buttons{text-align:right;padding-right: 10px;}
#footer #share-buttons div{margin-right: 10px; float: left; top: 0;position: relative;}
#footer #action-buttons a{float:right;clear:right;color:#ed1c24;margin-bottom: 0px;}
#compass-full{position:fixed;top:0;right:0;width:;display:none;z-index:999;}
#compass-img{}
.compass-btn{display:block;position:absolute;}
#compass-full .size-80{width:80px;height:80px;}
#compass-full .size-92{width:92px;height:92px;}
#compass-full #home{  top:7%; left:43%;}
#compass-full #ask{   top:40%; right:6%;}
#compass-full #share{ bottom:6%; left:43%;}
#compass-full #action{top:40%; left:8%;}

#compass-bottom{display:none; top:-999px;position: fixed;}
.seperator{color:#ccc;margin: 0 8px;}

/**** JCSC ADDED THESE*****/
#rss{
display:none;
}


body.inner #action-bubbles{
  text-align: right;
}


#forum.content-left{}

.sos-flex-single{
  width: 96.93128%;
  margin: 45px auto 100px auto;
  max-width: 1453px;
  background-color: #fff;
  border-radius: 5px;
  position: relative;  
 
}

.sos-flex-single a, .content-body a{color:#1471ac;}
#forum.content-left-layout{
  width: 96.06%;
  max-width: 1440px;
  margin: 45px auto 0 auto;
  position: relative;  
  z-index: 10;
}

  
  
  .header-ribbon{
    position: absolute;
    left: -20px;
    top: -19px;    
    width: 600px;
    height: 94px;
    background: url(../images/header_ribbon.png) no-repeat;
    background-size: 100% 100%;
    z-index: 20;
  }
  
  
    .header-ribbon span{
      margin: 40px 45px 0 45px;
      color: #fff;
      font-size: 1.2em;      
      text-shadow: 3px 3px 3px #333;
      display: block;
      float: left;
      font-weight: bold;
    }

.sos-flex-single .three-col{
  width: 29.45629%;
  max-width: 428px;
  float: left;
  background-color: #f0f0f0;
  margin: 100px 1.9% 40px 1.9%;
  border-radius: 5px;  
  position: relative;
}


.content-left-layout div{  
}

.content-left-layout .region-content .view-blog{
    margin: 0 5% 0 5%;
  }


.content-body-adjust{
  float: left;
  padding-right: 496px;
  position: relative;
}
  .adjust-adjust{
    width: 100%;
    max-width: 942px;
    float: left;
    display: block;
  }

.content-left-layout .content-body{
  max-width: 942px;
  float: left;
  background-color: #fff;  
  width: 100%;  
  border-radius: 5px;
}

  .content-left-layout h2{
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 24px;
    font-weight: strong;
  }

  .content-left-layout .content-body .content-heading{
    margin: 100px 5% 0 5%;
  }
  
  
  .content-left-layout .content-body .content-heading span{
    font-size: 18px;
    font-weight:bold;
  }
  
  .content-left-layout .content-body .content-heading p{        
    display: block;
  }
  

  .content-left-layout .content-body .fb_iframe_widget{
    margin: 0 5%;
    width: 90%;
  }
  
  .fb-comments > span {
    width: 100% !important;
    min-width: 100% !important;
  }
  
  .fb_iframe_widget iframe{
    width: 100% !important;
    position: relative !important;
  }
  
.content-left-layout .sidebar-right{
  width: 433px;
  float: right;
  padding-left: 63px;
  margin-left: -100%;
}

  .content-left-layout .sidebar-right #poll_area{
    width: 433px;
    padding: 40px 25px;
    background-color: #fff;
    position: relative;
    border-radius: 5px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
  }

    .content-left-layout #poll_area span{
      font-size: .9em;
      font-family: 'Helvetica Bold', Helvetica, Arial, sans-serif;
       
    }
    
    .content-left-layout #poll_area input[type="submit"]{
      padding: 8px 30px;
      background-color: #99d6e3;
      border-radius: 4px;
      border: 2px solid #fff;
      color: #ed1c24;
      font-size: 1em;      
      text-transform: uppercase;
      position: relative;
      right: -40px;
      float: right;      
      font-family: Helvetica, Arial,sans-serif;
    }
  
  .content-left-layout .sidebar-right #facebook_like{
    width: 433px;
    margin-top: 50px;
    background-color: #fff;
    margin-bottom: 40px;
  }

.col-header img{
  position: absolute;
  top: 20px;
  left: -15px;
}

.col-header span{
  max-width: 330px;
  /* width: 77.1028%; */
  margin-right: 25px;
  float: left;
  margin-left: 100px;
  font-size: 1.2em;
  margin-top: 30px;
}


.learn-more-col{
  margin: 130px auto 20px auto;
  font-size: 14px;
  line-height: 1.5em;
  width: 86.4485%;
  clear: both;
 
}


.back-to-map{
  position: absolute;
  bottom: -100px;
  left: 20px;  
}


.back-to-map.mobile{
  display: none;
}


.back-to-map.full{
}






/********** OVERRIDES TO MAKE MICROSITE NOT BREAKY *******************/


#container.sos-microsite .header-ribbon:before{  
  display: none;
}


#container.sos-microsite  #footer{
  width: auto;
  min-width: inherit;
}


/********* OVERRIDES TO COMPLY WITH DESIGNS ********/



#container.sos-microsite div.addthis_toolbox{
  display: none;
}


/********* DRUPAL VIEW SPECIFIC OVERRIDES **********/

#forum .views-field-field-featured-image{
  max-width: 200px;
  width: 20%;
  margin-right: 3.5%;
  float: left;
  clear: left;
}

#forum .views-field-field-featured-image img{
  width: 100%;
  max-width: 200px;
  height: auto;
}

#forum .views-field-nothing-1{
  float: left;
  font-size: 14px;
  width: 70%;
  clear: right;
  font-family: Helvetica;
}

#forum .date-display-single{
  text-transform: uppercase;  
  font-weight: bold;
}

#forum .post-author{
  color: #999;
  float: left;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
}

#forum .view-id-blog h1, #forum .view-id-blog h2, #forum .view-id-blog h3{
  text-shadow: none;
  font-weight: bold;
}

#forum .view-id-blog h2{
  font-size: 24px;
}

#forum h2 a{
  color: #000;
}

#forum a{
  color: #0077c0;
}


ul.twitter_stream{
  margin: 0;
  padding: 0;
  list-style: none;
}

.twitter_stream a{color: #ED1C24;font-weight: bold;}

/********** BASIC ENGAGING NETWORKS CSS ********/


.eaFullWidthContent{
  margin: 10px 35px;
}

.petition-column-left{
  width: 53%;
  max-width: 620px;
  float: left;
}

.petition-column-left p{
  font-size: 14px;
}


/*** Tweet ***/

ul.twitter_stream{
  margin: 0;
  padding: 0;
  list-style: none;
}

.twitter_stream a{color: #ED1C24;font-weight: bold;}


/******** TEXT ALERTS STYLES ***********/

#action-buttons{
  position: relative;
}

.action-alerts-area{
  display: none;
  position: absolute;
  width: 239px; 
  height: 350px; 
  z-index: 200;
  color: #000;
  background: url(../images/pop-out-bg.png) 200px 0px no-repeat transparent;
  font-size: 12px;
  text-transform: none;
  left: 115px;
  top: 35px;
}

  .action-alerts-area form{
    padding: 10px 0;
    border-radius: 5px;
    background-color: #;
    width: 235px;
    border: 2px solid #fff;
    background-color: #d9e7e6;
    margin-top: 10px;
  }
    
    .action-alerts-area .text-alert-heading{
      font-size: 16px;
      font-weight: bold;
      display: block;
      text-align: center;
      
    }
  
    .action-alerts-area input{
      font-family: 'Helvetica', 'Arial', sans-serif;  
    }

    .action-alerts-area input[type="checkbox"]{      
      clear: both;
    }
    
    .action-alerts-area input[type="text"]{
      text-indent: 15px;
    }
    
    .action-alerts-area input[type="text"], .action-alerts-area select{
      border: 2px solid #88c4da;
      width: 198px;
      height: 30px;
      line-height: 30px;
      margin: 10px auto;
      clear: both;      
      display: block;
    }
    
    .action-alerts-area label{
      clear: both;
      display: block;
      line-height: 30px;
      height: 30px;
      font-size: 10px;
      width: 200px;
      margin: 0 auto;
    }

    
    
    .action-alerts-area input[type="submit"]{
      clear: both;
      padding: 8px 30px;
      background-color: #99d6e3;
      border-radius: 4px;
      border: 2px solid #fff;
      color: #ed1c24;
      font-size: 1.25em;
      font-weight: bold;
      text-transform: uppercase;
      text-align: right;
      font-family: Helvetica, Arial,sans-serif;
      float: right;
      margin-right: 30px;
      margin-bottom: 5px;
    }
    
    .action-alerts-area span{
      display: block;
      clear: both;
      width: 200px;
      margin: 0 auto;
      font-size: 11px;
    }

/*********** END ACTION ALERTS ADDIN ***************/

.anchor{display: block;margin: 10px 0;font-weight: bold;}
#faq_area a.anchor{margin: 20px 0;}




/********* FAQ and Other Collapse-able content ********/
.citations{
  font-size: 16px;
  word-break: break-all;
}

.citations ol li{
  margin: 20px 0;
}

.question h3{
  font-size: 20px;
  color: #000;
  text-shadow: 0 0 0 #000;
  margin-top: 0px;
}

.answer.open{
  margin-top: 10px;
  
}

.answer p{
  font-size: 14px;
  line-height: 1.5em;
}

.answer li{
  font-size: 14px;
  line-height: 1.5em;
  margin-bottom: 10px;
}

.back-to-top{
  display: block;
  margin: 10px 10px 30px 10px;
  text-align: right;
  
}

#action-banner{
  width: 100%;  
}

#action-banner img{
  max-width: 450px;
  width: 100%;
}

#action-banner img.desktop{
  display: block;
}

#action-banner img.mobile{
  display: none;
}


/**** END FAQ *********/









    
    
/************ MEDIA QUERIES *************/

@media (max-width: 1200px){
  /**** JCSC ADDED THIS TRANSITIONAL STATE TO HANDLE THE FORUM LAYOUT / CONTENT - SIDEBAR RIGHT ***/

.content-left-layout .content-body{
  width: 100%;
  max-width: 100%;
  float: none;
}

.content-body-adjust{
  float: none;
  padding-right: 0px;
}

.content-left-layout .content-body .content-heading{
  float: left;
}



  .content-left-layout .content-body .fb_iframe_widget{
    margin-left: 0;
  }
  
    .content-left-layout .content-body .fb_iframe_widget span{
      width: 100%;
      min-width: 0;
    }

.fb-comments > span{
  width: 100% !important;
}


.content-left-layout .fb_iframe_widget{
  width: 92%;
}


.content-left-layout .sidebar-right{
  width: 100%;
  margin-right: 0;
  padding-left: 0;
}

  .content-left-layout .sidebar-right #poll_area{
    width: 100%;
    padding: 40px 0;
    margin: 20px 0;
  }

  
  .content-left-layout .sidebar-right #poll_area span{
    margin-left: 40px;
  }
  
  .content-left-layout .sidebar-right #poll_area input[type="submit"]{
   right: -10px;    
  }
  
  
  .content-left-layout .sidebar-right #facebook_like{
    width: 100% !important;
  }
  
    .content-left-layout .sidebar-right #facebook_like .fb_iframe_widget{
      width: 100% !important;
    }
    
    .content-left-layout .sidebar-right #facebook_like span{
      width: 100% !important;
    }
  
  .back-to-map.mobile{
    display: block;
  }
  
  
      .question{
     border-radius: 5px;
     background-color: #eee;
     margin: 10px;
     padding: 10px;
    }    
  .question .answer{
    display: none;
  }  
  .question .answer.open{
    display: block;
  }
  
  
  #action-banner{
    width: 100%;
    border-radius: 5px;
    background-color: #fff;
    margin: 20px 0;
  }
  
  #action-banner img{
    margin: 0 auto;
    display: block;
    text-align: center;    
  }
  
  #action-banner img.desktop{
    display: none;
  }
  
  #action-banner img.mobile{
    display: block;
  }
  
  #faq_area .anchor{
    display: none;
  }
  
  .back-to-top{
    display: none;
  }
  
  #action-banner img{
   max-width: 1024px;
   margin: 0 auto;
  }
  

  
  
  #forum.content-left-layout{
    margin: 50px auto 75px auto;
  }
  .back-to-map.full{
    display: none;
  }
}

@media (max-width: 1024px) {
  #container{padding-bottom:100px;}
  h2{}
  #header{}
  h1 span{display: block;}
  #header-left,
  #header-right,
  #footer-left,
  #footer-right{
    float:none;
    text-align:center;
    width: 450px;
    margin:0 auto;
  }
  #share-buttons{margin-top:10px;}  
  #twitter{display:block;}
  #header #share-buttons{width: auto;margin-top:0;padding:0px;}
  #header #share-buttons #latest-tweet {width: auto;position:static;}
  #action-buttons{float: none;}
  #header #share-buttons #latest-tweet #tweet-text{margin-right: 15px;}
  
  #action-buttons a{
    margin: 10px 5px;min-width:0;padding: 0 18px;
    line-height:2em;font-size:18px; -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box; box-sizing: border-box;
  }
  #compass-full{display:none; top:-999px;}
  #compass-img{display:none;}
  #compass-bottom{display:none; text-align:center;background: rgba(0,0,0,.8);padding: 5px 0;position:fixed;bottom:0;left:0;top:initial;width:100%;z-index:998;}
  #compass-bottom img{width: 20%;max-width:80px;}
  a#learn-more{display:none;}
  #action-bubbles{display: none;}  
  #footer-left,
  #footer-right{
    float:none;
    text-align:center;
  }  
  #footer #action-buttons a{margin: 20px 0;}  
  #footer #action-buttons a,
  #footer #share-buttons
  {width: auto;float:none;}
/*********** JCSC ADDED BELOW *********/

  
    .header-ribbon span{
      
    }

  .sos-flex-single .three-col{
    width: 96%;
    max-width: 96%;
  }
  
  .back-to-map{
    bottom: -75px;
  }
  
  .back-to-map.mobile{
    bottom: -50px;
  }
  
  
  .sos-flex-single .three-col.first{
  margin-top: 100px;
 }
  
  .sos-flex-single .three-col{
    margin: 10px;
    padding: 20px 0px;
  }
  
  .learn-more-col{
    display: none;
    margin-top: 20px;
  }
  
  .learn-more-col.open{
    display: block;
  }
  
  
  .col-header{
    height: 96px;
  }
  
  .col-header span{
    max-width: inherit;        
    margin-top: 0;
    margin-left: 110px;
  }
  
  .col-header span:after{
    content: "+";
    font-size: 24px;
    color: #999;
    position: absolute;
    right: 20px;
    top: 10px;
  }
  
  .col-header.open span:after{
    content: "_";
  }
  
  .col-header img{
    top: 0;
    position: absolute;
    left: 0;    
  }
  
  #action-banner img{
    max-width: 100%;
  }
  
  #footer{
    margin-top: 80px;
  }

  
}

@media (max-width: 700px){
  
  /*** MOVE THESE CHANGES TO FE ON HUANG 9/16 ***/
  .header-ribbon{
    background-image: none;
    background-color: #ff5c5c;
    left: 0;
    width: 100%;
    height: auto;
    padding-bottom: 15px;
    margin-bottom:10px;
    float:left;
    position: relative;
  }

  .header-ribbon span{
    margin-left: 5%;
    margin-right: 5%;
  }
    
 .sos-flex-single .three-col{
    margin-top: 10px;
    margin-bottom: 10px;
  }
 
  .content-left-layout .content-body .content-heading{
    margin-top: 0;
  }

  
  /*RESPONSIVE TEXT ALERTS *******/
  
  
  
  
  
/******** TEXT ALERTS STYLES ***********/

#action-buttons{
  position: relative;
}

.action-alerts-area{
  display: none;
  position: relative;
  top: 10px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  clear: both;
  color: #000;
  background: none;
  font-size: 12px;
  text-transform: none;
  left: 0;
  
}

  .action-alerts-area form{
    padding: 10px 0;
    border-radius: 5px;
    background-color: #;
    width: 100%;
    border: 2px solid #fff;
    background-color: #d9e7e6;
    margin-top: 10px;
  }

    .action-alerts-area input{
      font-family: 'Helvetica', 'Arial', sans-serif;  
    }

    .action-alerts-area input[type="checkbox"]{      
      clear: both;
    }
    
    .action-alerts-area input[type="text"]{
      text-indent: 15px;
    }
    
    .action-alerts-area input[type="text"], .action-alerts-area select{
      border: 2px solid #88c4da;
      width: 90%;
      height: 30px;
      line-height: 30px;
      margin: 10px auto;
      clear: both;      
      display: block;
    }
    
    .action-alerts-area label{
      clear: both;
      display: block;
      line-height: 30px;
      height: 30px;
      font-size: 10px;
    }

    .action-alerts-area input[type="submit"]{
      clear: both;
      padding: 8px 30px;
      background-color: #99d6e3;
      border-radius: 4px;
      border: 2px solid #fff;
      color: #ed1c24;
      font-size: 20px;      
      text-transform: uppercase;
      text-align: right;
      font-family: Helvetica, Arial,sans-serif;
      float: right;
      margin-right: 30px;
    }
    
    .action-alerts-area span{
      display: block;
      clear: both;
    }

  .sos-flex-single .three-col.first{
    margin-top: 30px;
  } 
}

@media (max-width: 550px) {
  #header h2{display: none;}
  #container{font-size:1em;}
  #header-left,
  #header-right,
  #footer-left,
  #footer-right  {
    float:none;
    text-align:center;
    width: 100%;
  }
  #header-drawer{display: block;text-align: center;color: #fff;padding: 10px 0px;width:100%;}
  #header-drawer span{
    cursor: pointer;
    font-variant: small-caps;background:#7DC7CC;display: inline-block;
    padding:5px 10px;text-shadow:1px 1px 1px #000;
  }
  #header-drawer span strong{font-size: .7em;}
  #header-right{display: none;}
  #header-right #share-buttons{display: none;}
  #header-right #action-buttons{padding-bottom: 10px;}  
  #share-buttons, #action-buttons a{width: auto;float:none;}
  #action-buttons a{margin: 20px 30px 0;}
  
  .text{float:right;}
  .seperator{text-indent:-9999px;display:block;height:2px;}

/**********JCSC ADDED BELOW *************/  
  
  #action-banner img.mobile{
    display: none;
    
  }
  
  #action-banner img.desktop{
    display: block;
    max-width: 100%;
    margin: 0 auto;
  }

  
}





@media (max-width: 320px){
  .col-header{ height: inherit;}
  
  .col-header img{
    position: relative;
    display: block;
    margin: 0 auto;
    text-align: center;
  }
  
  .col-header span{
    float: none;
    text-align: center;
    clear: both;
    display: block;
    margin: 0 auto;
  }

}