<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>ActionSprout Discussion</title>
</head>
<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<h1>This is a comment thread for the ActionSprout campaign page</h1>
<!-- <ul>
<li>users hitting this page directly with get the salsa lightbox that they have to fill out before joining the discussion</li>
<li>if someone makes a comment, their facebook friends will be able to reply without filling out the salsa form :/</li>
</ul> -->
<div class="fb-comments" data-href="https://app.actionsprout.com/GFdNpx" data-width="470" data-num-posts="10"></div>
</body>
</html>