<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Ask Ben</title>
  <meta property="og:type" content="profile"/>
  <meta property="og:url" content="https://forestethics.rdsecure.org/custom/tartrek/comment-nofbapp.html" /> 
  <meta property="fb:admins" content="14603164" />
  <meta property="og:site_name" content="ForestEthics.org" />
  <meta property="og:title" content="ForestEthics: because protecting forests is everyone’s business"/><meta property="og:image" content="http://forestethics.org/sites/forestethics.org/themes/forestethics/images/defaultimage.png"/><meta property="og:description" content="Ask Ben" /></head>
<body>
<h1>This is a comment thread for the page just on the website, with no integration with ActionSprout</h1>
[there will be a lightbox when a user first lands on this page]<br><br>
Ask Ben:

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div class="fb-comments" data-href="https://forestethics.rdsecure.org/custom/tartrek/microsite.html" data-width="470" data-num-posts="10"></div>
</body>
</html>